.liveText{
  animation: blink 1s linear infinite;
}
@keyframes blink {
  50%{
    opacity: 0;
  }

}

.singleCard{
      width: 300px;
      background: rgb(252, 252, 252);
      text-align: center;
      padding: 20px;
      border-radius: 10px;
      
}
.singleCard:hover{
  -webkit-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.3);
box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.3);

}
.mainText{
  font-size: 40px;
}